<h1>Listing chemicals</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cas number</th>
    <th>Amount</th>
    <th>Unit</th>
    <th>Vendor</th>
  </tr>

<% for chemical in @chemicals %>
  <tr>
    <td><%=h chemical.name %></td>
    <td><%=h chemical.cas_number %></td>
    <td><%=h chemical.amount %></td>
    <td><%=h chemical.unit %></td>
    <td><%=h chemical.vendor_id %></td>
    <td><%= link_to 'Show', chemical %></td>
    <td><%= link_to 'Edit', edit_chemical_path(chemical) %></td>
    <td><%= link_to 'Destroy', chemical, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New chemical', new_chemical_path %>
