<h1>Chemical List</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Cas number</th>
    <th>Amount</th>
    <th>Unit</th>
    <th>Vendor</th>
  </tr>

<% for chemical in @chemicals %>
  <tr id="<%= "row-id-#{chemical.id}" %>">
    <td><%=h chemical.name %></td>
    <td><%= link_for_cas_number(chemical.cas_number) %></td>
    <td><%=h chemical.amount %></td>
    <td><%=h chemical.unit %></td>
    <td><%=h chemical.vendor.name %></td>
    <td><%= link_to 'Show', chemical %></td>
    <td><%= link_to 'Edit', edit_chemical_path(chemical) %></td>
    <td><%= link_to_remote 'Delete', 
          :url => {:action => "destroy", :id => chemical.id }, 
          :complete => "Element.remove('row-id-#{chemical.id}')", 
          :method => :delete, 
          :href => url_for(:action => "destroy", :id => chemical.id)  %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New chemical', new_chemical_path %>
